/* Geral */
* {
    font-family: 'Open Sans', 'sans-serif';
    font-size:20px;
    font-weight: 500;
    margin: 0;
    padding: 0;

}
.container{
	min-height: 100vh;
	display: flex;
}

/* Sidebar */
#sidebar {
    position: relative;
    height: 100vh;
    background-color: #006599;
    padding-top: 40px;
	justify-content: space-between;
	display: flex;
	flex-direction: column;
	border-right: 3px solid #eeb6dcd2;
	position: fixed;
	transition: all 0.8s;
	min-width: 82px;
	z-index: 1;
}

#sidebar h2 {
    color: #ffffffdc;
    font-size: 22px;
    text-align: center; 
	font-weight: 500;
}
.item-descricao{
	color: #ffffffbb;
	font-size: 16px;
	transition: width 0.6s;
}
#side-itens {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 20px;
	gap: 20px;
}
.side-item {
	border-radius: 8px;
	cursor: pointer;
	padding: 14px;
	padding: 16px;
}
.side-item.active{
	background-color: #eeb6dcd2;
	border-radius: 8px 0px 0px 8px;
	width: 100%;
}
.side-item:hover:not(.active){
	background-color: #10496e;
}
.side-item a {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
.side-item a i {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
}
#user {
	display: flex;
	justify-content:center;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}
.sidebar-conteiner {
    display: flex;
	flex-direction: column;
	align-items: center;
	padding: 12px;
}
.logo-doceria {
    width: 50px;
    height: 50px;	
}
#open-btn{
	position: absolute;
	top: 30px;
	right: -12px;
	background-color: #373A3C;
	color: #FFF;
	border-radius: 50%;
	width: 25px;
	border: none;
	cursor: pointer;
}
#open-btn-icon{
	transition: transform 0.3s ease-in-out;
}
.open-sidebar #open-btn-icon{
	transform: rotate(180deg);
}
.item-descricao {
	width: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#sidebar.open-sidebar {
	min-width: 15%;
	border-right: 5px solid #eeb6dcd2;
}
#sidebar.open-sidebar .item-descricao {
	width: 200px;
}
#sidebar.open-sidebar .side-item a {
	justify-content: flex-start;
	gap: 14px;
}
/* Conteudo */
#content {
	transition: all 0.6s;
	margin-left: 100px; 
    flex-grow: 1;
}
#content.open-bar{
	margin-left: 300px;
	transition: 0.8s;
}
.sessao-content h2 {
    color: #2790C6;
	font-size: 35px;
	padding: 20px;
}

#content h1 {
    font-size: 48px;
}
/*Bem vindo*/
#sessao-bemvindo {
    width: 100%;
	padding-left: 0;
}
.sessao-bemvindo-content {
    padding: 50px;
	background-color: #10496e;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 55px;
	display: flex;
	justify-content: space-evenly;
}
#sessao-bemvindo .banner {
    height: 600px;
    background-image: url(../img/banner2.jpg);
    background-position: center;
    background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

#sessao-bemvindo h1 {
	display: flex;
	color: #2790C6;
	text-align: center;
	background-color: #373a3ce0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}
#sessao-bemvindo h2{
	text-align: center;
	padding: 100px 50px;
	color: #10496e;
	color: #ffffffd9;
}
#sessao-bemvindo::after, #sessao-sobre::after {
	content: "";
	display: block;
	clear: both;
}

.sessao-bemvindo-content .sessao-minibanner {
	width: 50%;
	height: 500px;
	border-radius: 10px;
	background-image: url('../img/banner4.jpg');
	background-position: center;
	background-size: cover;
	float: left;
	margin: 20px;
}
.sessao-descricao {
	left: 470px;
	margin: 0px 30px;
	width: 50%;
}

.sessao-trabalho h4, .sessao-descricao h3 {
	font-size: 22px;
	color: #2790C6;
	margin-bottom: 20px;
	text-align: center;
}
.sessao-descricao p, .sessao-descricao span {
	line-height: 2;
	font-size: 16px;
	margin-bottom: 30px;
	color: #ffffffde;
}
#mais {
	display: none;
}
.sessao-bemvindo-btn {
	background-color: #006599;
	color: #FFF;
	border-radius: 5px;
	text-decoration: none;
	padding: 20px;
	transition: .5s;
	width: 200px;
	text-align: center;
	border: solid 1px #10496e;
	cursor: pointer;
	margin: 20px;
}

.sessao-bemvindo-btn:hover:hover {
	background-color: #609cb9;
    color: #ffffff;
}
/* sessao sobre */

#sessao-sobre {
	background-image: url(../img/copie-ingredientes-de-espaco-para-biscoitos.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
	border-radius: 20px;
	
}
.sessao-content {
	background-color: #0000009e;
	padding: 50px;
	border-radius: 20px;
}
.sessao-trabalho {
	background-color: #373a3ce3;
	width: 100%;
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	padding: 20px;
}
.sessao-trabalho p {
	color: #ffffffb7;
	line-height: 2;
	font-size: 22px;
	text-align: center;
}
.sessao-trabalho strong {
	font-size: 30px;
	color: #2790C6;	
	display: flex;
	justify-content: center;
	margin-top: 50px;
}
.sessao-content h2 {
	text-align: center;
	font-weight: 600;
	margin-top: 20px;
	padding: 10px;
}

.sessao-trabalho h4 {
	background-color: #2790C6;
	color: #FFF;
	border-radius: 10px;
	margin-top: 20px;
	padding: 10px;
}

/* galerias */
#sessao-doces1 {
	margin: 0 auto;
	width: 95%;
	text-align: center;
}
#sessao-doces1 input[type=radio] {
	display: none;
}
#sessao-doces1 label {
	cursor: pointer;
	text-decoration: none;
}
#slides {
	padding: 10px;
	border: solid 3px #ccc;
	border-radius: 5px;
	position: relative;
	z-index: 1;
}
#overflow{
	width: 100%;
	overflow: hidden;
}
#slider1:checked ~ #slides .inner {
	margin-left: 0;
}
#slider2:checked ~ #slides .inner {
	margin-left: -100%;
}
#slider3:checked ~ #slides .inner {
	margin-left: -200%;
}
#slider4:checked ~ #slides .inner {
	margin-left: -300%;
}

#slides .inner {
	transition: margin-left .8s cubic-bezier(0.770, 0.000, 0.175, 1.000);
	width: 400%;
	height: 600px;
}
#slides .slide {
	width: 25%;
	float: left;
	display: block;
	height: 520px;
	color: #FFF;
	border-radius: 5px;
}
#slides .slide-1{
	background: url(../img/galeria1.jpg);
	background-position: center;
	background-size: cover;
}
#slides .slide-2{
	background: url(../img/galeria2.jpg);
	background-position: left;
	background-size: cover;
}
#slides .slide-3{
	background: url(../img/galeria3.jpg);
	background-position: center;
	background-size: cover;
}
#slides .slide-4{
	background: url(../img/galeria4.jpg);
	background-position: center;
	background-size: cover;
}
.slide-content {
	padding: 10px;
}
#controle {
	margin: -70px 0 0 0;
	width: 100%;
	height: 50px;
	z-index: 3;
	opacity: 1;
}
#controle label {
	display: inline-flex;
	transition: opacity 0.2s ease-out;
	width: 30px;
	height: 30px;
	opacity: .4;
	background-color: #2790C6;
	border: 1px solid black;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}
#controle label:hover{
	opacity: 1;
}


/* contato */





/* footer */

footer {
	height: 100px;
	padding-top: 150px;
	color: #006599;
}

footer p {
	text-align: center;
	font-weight: bold;
}