/* Geral */
* {
    font-family: 'Open Sans', 'sans-serif';
    font-size:20px;
    font-weight: 500;
    margin: 0;
    padding: 0;

}
.container{
	min-height: 100vh;
	display: flex;
}

/* Sidebar */
#sidebar {
    position: relative;
    height: 100vh;
    background-color: #006599;
    padding-top: 40px;
	justify-content: space-between;
	display: flex;
	flex-direction: column;
	border-right: 1px solid #373A3C;
	position: fixed;
	transition: all 0.8s;
	min-width: 82px;
}

#sidebar h2 {
    color: #ffffffdc;
    font-size: 22px;
    text-align: center; 
	font-weight: 500;
}
.item-descricao{
	color: #ffffffbb;
	font-size: 16px;
	transition: width 0.6s;
}
#side-itens {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 20px;
	gap: 20px;
}
.side-item {
	border-radius: 8px;
	cursor: pointer;
	padding: 14px;
}
.side-item.active{
	background-color: #2790C6;
}
.side-item:hover:not(.active){
	background-color: #10496e;
}
.side-item a {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
.side-item a i {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
}
#user {
	display: flex;
	justify-content:center;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}
.sidebar-conteiner {
    display: flex;
	flex-direction: column;
	align-items: center;
	padding: 12px;
}
.logo-doceria {
    width: 50px;
    height: 50px;	
}
#open-btn{
	position: absolute;
	top: 30px;
	right: -12px;
	background-color: #373A3C;
	color: #FFF;
	border-radius: 50%;
	width: 25px;
	border: none;
	cursor: pointer;
}
#open-btn-icon{
	transition: transform 0.3s ease-in-out;
}
.open-sidebar #open-btn-icon{
	transform: rotate(180deg);
}
.item-descricao {
	width: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#sidebar.open-sidebar {
	min-width: 15%;
}
#sidebar.open-sidebar .item-descricao {
	width: 200px;
}
#sidebar.open-sidebar .side-item a {
	justify-content: flex-start;
	gap: 14px;
}
/* Conteudo */
#content {
	transition: all 0.6s;
	margin-left: 100px; 
    flex-grow: 1;
}
#content.open-bar{
	margin-left: 300px;
	transition: 0.8s;
}
#content h2 {
    color: #006599;
    margin-bottom: 30px;
}

#content h1 {
    font-size: 48px;
}
#content h2 {
    font-size: 35px;
}

section {
    padding-left: 50px;
}

/*Bem vindo*/
#sessao-bemvindo {
    width: 100%;
	padding-left: 0;
}
.sessao-bemvindo-content {
    padding: 50px;
	background-color: #10496e;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 55px;
	display: flex;
	justify-content: space-evenly;
}
#sessao-bemvindo .banner {
    height: 500px;
    background-image: url(../img/banner2.jpg);
    background-position: center;
    background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
#sessao-bemvindo h1 {
	display: flex;
	color: #2790C6;
	text-align: center;
	background-color: #373a3ce0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}
#sessao-bemvindo h2{
	text-align: center;
	padding: 100px 50px;
	color: #10496e;
	color: #ffffffd9;
}
#sessao-bemvindo::after, #sessao-sobre::after {
	content: "";
	display: block;
	clear: both;
}

.sessao-minibanner {
	width: 50%;
	height: 500px;
	border-radius: 10px;
	background-image: url('../img/banner4.jpg');
	background-position: center;
	background-size: cover;
	float: left;
	margin: 20px;
}
.sessao-descricao {
	left: 470px;
	margin: 0px 30px;
	width: 50%;
}

.sessao-descricao p, .sessao-descricao span {
	line-height: 2;
	font-size: 16px;
	margin-bottom: 30px;
	color: #ffffffde;
}
#mais {
	display: none;
}
.sessao-bemvindo-btn {
	background-color: #006599;
	color: #FFF;
	border-radius: 5px;
	text-decoration: none;
	padding: 20px;
	transition: .5s;
	width: 200px;
	text-align: center;
	border: solid 1px #10496e;
	cursor: pointer;
	margin: 20px;
}

.sessao-bemvindo-btn:hover:hover {
	background-color: #609cb9;
    color: #ffffff;
}
/* sessao sobre */

#sessao-sobre .sessao-minibanner {
	float: right;
	box-shadow: rgba(255, 255, 255, 0.25) 2px 12px 55px;
	margin-right: 50px;
	border-radius: 10px;
	background-image: url('../img/banner3.jpg');
	background-position: center;
	background-size: cover;
	margin: 20px;
	width: 50%;
}
#sessao-sobre {
	background-image: url(../img/papel-preto-texturizado-liso.jpg);
}

.sessao-trabalho p {
	color: #ffffffd8;
	line-height: 2;
	font-size: 16px;
	margin-bottom: 30px;
}
.sessao-trabalho strong, h4 {
	color: #006599;
	font-size: 25px;
	margin-bottom: 50px;
}
/* galerias */

.banner-galeria {
	background-position: center;
	background-size: cover;
	display: inline-block;
	height: 200px;
}

#sessao-doces1, #sessao-doces2, #sessao-doces3 {
	padding-right: 50px;
	margin-bottom: 50px;
}

.doces1-imgs {
	width: 18.8%;
	margin-left: .5%;
	margin-right: .5%;
}

#img1 {
	background-image: url('../img/galeria1.jpg');
	margin-left: 0;
}

#img2 {
	background-image: url('../img/galeria2.jpg');
}

#img3 {
	background-image: url('../img/galeria3.jpg');
}

#img4 {
	background-image: url('../img/galeria4.jpg');
}

#img5 {
	background-image: url('../img/galeria5.jpg');
	margin-right: 0;
}

.doces2-imgs {
	width: 32.3%;
	margin-left: .5%;
	margin-right: .5%;
}

#img6 {
	background-image: url('../img/galeria6.jpg');
	margin-left: 0;
}

#img7 {
	background-image: url('../img/galeria7.jpg');
}

#img8 {
	background-image: url('../img/galeria8.jpg');
	margin-right: 0;
}

.doces3-imgs {
	width: 23.9%;
	margin-left: .5%;
	margin-right: .5%;
}

#img9 {
	background-image: url('../img/galeria9.jpg');
	margin-left: 0;
}

#img10 {
	background-image: url('../img/galeria10.jpg');
}

#img11 {
	background-image: url('../img/galeria11.jpg');
}

#img12 {
	background-image: url('../img/galeria12.jpg');
	margin-right: 0;
}

/* contato */

#form-contato {
	width: 500px;
}

#form-contato input[type=text], #form-contato input[type=email], #form-contato textarea {
	display: block;
	border: 1px solid #006599;
	padding: 10px;
	margin-bottom: 20px;
	width: 100%;
	font-size: 16px;
	font-family: 'Open sans', sans-serif;
}

#form-contato input[type=text]:focus, #form-contato input[type=email]:focus, #form-contato textarea:focus {
	border-color: #2790C6;
}

#form-contato textarea {
	height: 150px;
}

#form-contato ::placeholder {
	color: #2790C6;
}

#form-contato input[type=submit] {
	margin-left: 0;
	font-size: 16px;
	width: 180px;
}

/* footer */

footer {
	height: 100px;
	padding-top: 150px;
	color: #006599;
}

footer p {
	text-align: center;
	font-weight: bold;
}